* {
    padding: 0;
    margin: 0;
}


 .bgimg {
    height: 100vh;
    width: 100%;
    background:url('../images/overlay.png'), url('../images/aboutbgimg.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

 .about-1 {
     margin: 30px;
     padding: 5px;
 }

 .about-1 h1 {
     text-align: center;
     color: lightslategray;
     font-weight: bold;
 }

 .about-1 p {
     text-align: center;
     padding: 3px;
     color: #fff;
 }

 .about-item {
     margin-bottom: 20px;
     margin-top: 20px;
     background-color: white;
     padding: 80px, 30px;
     box-shadow: 0 0 9px rgba(0,0,0, .6);
 }

.about-item i {
    font-size: 43px;
    margin: 0;
}

.about-item h3 {
    font-size: 25px;
    margin: 0;
}

.about-item hr {
    width: 46px;
    height: 3px;
    background-color: red;
    margin: 0 auto;
    border: none;
}

.about-item p {
    margin-top: 20px;
    text-align: left;
}

.about-item:hover {
    background-color: lightblue;
}

.about-item:hover i,
.about-item:hover h3,
.about-item:hover p {
    color: #fff;
}

.about-item:hover hr {
    background-color: #fff;
}

.about-item:hover i,
.about-item:hover h3,
.about-item:hover p,
.about-item:hover hr {
    transition: all 1500ms ease-in-out;
}

.navbar {
    font-family: 'Raleway', sans-serif;
}

.navbar-brand {
    color: #fff;
    font-size: 1.8em;
    font-weight: 700;
    margin-left: 7%;
}

.navbar-nav {
    margin-right: 7%;
}

.navbar-nav li a {
    color: lightcyan;
    font-size: 1.5em;
}


