* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:url(../images/lightbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    font-family: 'Raleway', sans-serif;
}

.navbar-brand {
    color: black;
    font-size: 1.8em;
    font-weight: 700;
    margin-left: 7%;
}

.navbar-nav {
    margin-right: 7%;
}

.navbar-nav li a {
    color: black;
    font-size: 1.5em;
}

.header {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 60px;
}

.images {
    max-width: 1200px;
    transform: translateX(40%);
    display: flex;
    flex-wrap: wrap;

}

.image {
    position: relative;
    height: 300px;
    border-radius: 10px;
    margin: 12px;
    box-shadow: 2px 2px 4px lightgray;
    list-style: none;
    flex: 0 0 25%;
}

.image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.playername {
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    text-align: center;
    background-color: darkturquoise;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 1.9s linear;
}

img:hover + div {
    visibility: visible;
    opacity: 1;
    transform: translateY(-500%);
}