body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: 'Raleway', sans-serif;
    color: #fff;
}

.banner {
    height: 100vh;
    width: 100%;
    background:url('../images/overlay.png'), url('../images/bgimg.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.banner .navbar {
    margin-top:
}

.banner .navbar-brand {
    color: #fff;
    font-size: 1.8em;
    font-weight: 700;
    margin-left: 7%;
}

.banner .navbar-nav {
    margin-right: 7%;
}

.banner .navbar-nav li a {
    color: lightcyan;
    font-size: 1.5em;
}

.banner .info {
    margin-top: 15%;
    transform: translateY(-15%);
}